# Операционные системы
# Скрывает служебные файлы macOS
.DS_Store
# Скрывает эскизы Windows
Thumbs.db
# Скрывает файлы конфигурации Windows
desktop.ini

# Редакторы кода и IDE
# Скрывает временные файлы редактора Vim
*.swp
*.swo
# Скрывает папку с настройками Visual Studio Code
.vscode/
# Скрывает папку с настройками JetBrains (WebStorm, IntelliJ)
.idea/

# Зависимости и сборка проекта (на случай будущего развития)
# Скрывает папку с установленными пакетами Node.js
node_modules/
# Скрывает папки для собранного проекта
dist/
build/

# Лог-файлы
*.log